Parser.WPF/Parser.WPF/Service References/ParserService/ParserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55151/ParserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parser.DTO" />
  <xs:element name="GetLiquids">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiquidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parser.DTO" minOccurs="0" name="GetLiquidsResult" nillable="true" type="q1:ArrayOfLiquidDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>