Parser.WPF/Parser.WPF/Service References/ParserService/ParserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Parser.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Parser.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55151/ParserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55151/ParserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLiquidDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidDTO" nillable="true" type="tns:LiquidDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiquidDTO" nillable="true" type="tns:ArrayOfLiquidDTO" />
  <xs:complexType name="LiquidDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Amount" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="AmountIndicated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Article" type="xs:int" />
      <xs:element minOccurs="0" name="Availability" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Strength" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element minOccurs="0" name="StrengthIndicated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiquidDTO" nillable="true" type="tns:LiquidDTO" />
</xs:schema>